#Visual Studio Files
bin/
obj/
*.suo
*.user
*.dll

#Project Files
build/

#Tooling
_ReSharper*

#NuGet
packages/
NuGet.exe
*.nupkg

#TDS
*.update
IconCache/
T4RenderCache/
Debug/
Release/
BuiltFiles_*.txt
Package_*/