<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderContentEditor>
        <processor type="OneNorth.ExpressSubitem.Pipelines.ExpressSubitemCustomizationsPipeline, OneNorth.ExpressSubitem"
                   patch:before="*[1]" />
      </renderContentEditor>
    </pipelines>
    <events>
      <event name="item:saved">
        <handler type="OneNorth.ExpressSubitem.Events.ExpressSubitemEvents, OneNorth.ExpressSubitem" method="OnItemSaved"/>
      </event>
      <event name="item:copied">
        <!--refresh exress subitem fields-->
        <handler type="OneNorth.ExpressSubitem.Events.ExpressSubitemEvents, OneNorth.ExpressSubitem" method="OnItemCopied"/>
      </event>
    </events>
    <processors>
      <!--cloning needs a pipeline step, as item:copied nor any other events fire-->
      <uiCloneItems>
        <!--refresh express subitem fields-->
        <processor mode="on" type="OneNorth.ExpressSubitem.Pipelines.CloneItem, OneNorth.ExpressSubitem" method="Execute"
                   patch:after="processor[@type='Sitecore.Shell.Framework.Pipelines.CloneItems,Sitecore.Kernel' and @method='Execute']"/>
      </uiCloneItems>
    </processors>
    <fieldTypes>
      <fieldType name="Express Subitem" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" />
    </fieldTypes>
  </sitecore>
</configuration>
